body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;   
    gap: 3rem;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    background-color: rgb(95, 6, 124);
    color: white;
    padding: 1rem;
}

nav a:hover {
    color: rgb(245, 162, 52);
}

.hero{
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 138, 234);
    padding: 2rem;
}